body,#main-container {
    width: 100vw;  /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    margin: 0;
    padding: 0;
}

.planet-info {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .time-control {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.time-control label {
    margin-right: 10px;
}

.time-control input {
    margin-right: 10px;
}

  .sidebar {
    margin-top: 55px;
    height: 100vh; /* Full height */
    overflow-y: auto; /* Scroll if needed */
  }

  .toggle-sidebar-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 101;
    width: 130px;
    height: 40px;
  }
  .toggle-sidebar-btn:hover {
    background-color: #0056b3;
  }

  .dg .close-button {
    display: none !important;
  }


  .planet-info-card {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 250px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100; /* Make sure it appears above other elements */
  }
  
  .planet-info-card h2 {
    margin-top: 0;
  }
  
  .planet-info-card ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .planet-info-card ul li {
    margin-bottom: 10px;
  }
  
  .planet-info-card ul li strong {
    font-weight: 600;
  }