html,body,#main-container {
    width: 100vw;  /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.planet-info {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .time-control {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .time-control label {
    margin-right: 10px;
  }
  
  .time-control input {
    margin-right: 10px;
  } 

  .sidebar {
    margin-top: 55px;
    height: 100vh; /* Full height */
    overflow-y: auto; /* Scroll if needed */
    
  }

  .toggle-sidebar-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 101;
    width: 235px;
  }
  .toggle-sidebar-btn:hover {
    background-color: #0056b3;
  }

  .dg{

  }

  .dg .close-button {
    display: none !important;
  }
